# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/ScrapyGo.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
"01 scrapy \345\205\245\351\227\250/"
